<html>
  <p></p>
  <h3> Ruby Company </h3>
  <p class="heading">Login Page</p>
  <div class="form">
  <%= form_tag("/login", :method => "get") do %>


    <%= label_tag(:name, "User Name:") %>
    <%= text_field_tag(:name) %>
<br />
   <%= label_tag(:password, "password") %>
<%= password_field_tag(:password) %>

<%= submit_tag("Login") %><% end %>
</div>
<div class="signup">
<%= link_to 'Sign Up', new_user_path %>
</div>


</html>
