<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag "application" %>
   <%= stylesheet_link_tag    "application", :media => "all" %>
  <title>Project Layout</title>
  <% if (session[:loggedin_user]==101) %>
  <%= link_to 'New User', new_user_path %>
<%= link_to 'New Project', new_proj_path %>

<%= link_to 'List of Users', users_path %>
<% end %>
<% if (session[:loggedin_user]==102) %>

<%= link_to 'New Project', new_proj_path %>

<%= link_to 'List of Users', users_path %>
<% end %>

</head>
<body>

<%= yield %>

</body>
</html>
