<h1>Listing projs</h1>
<% if ((session[:loggedin_user]==101) || (session[:loggedin_user==102]))%>
<%= image_tag("rails.png") %>
<% end %>
<table  id = "myTable" class = "tablesorter">
  <thead>
  <tr>
    <th>project Name</th>
    <th>status</th>
    <th>Users</th>
    
  </tr>
</thead>
<tbody>
<% @projs.each do |proj| %>
<% if ((proj.user_id == session[:loggedin_user]) || (session[:loggedin_user]==101) || (session[:loggedin_user]==102)) %>

  <tr>
    <td><%= proj.projectname %></td>
    <% if proj.status=='1'%>
    <td><%status="initaited" %> <%=status%>   </td>
    <% end%>
     <% if proj.status=='2'%>
    <td><%status="inprogress" %> <%=status%>   </td>
    <% end%>
     <% if proj.status=='3'%>
    <td><%status="completed" %> <%=status%>   </td>
    <% end%>
    <td><%id= proj.user_id 
    @name=User.find(id)%>
    <%= @name.name%></td>
    
    <td><%= link_to 'Show', proj %></td>
    <% if ((session[:loggedin_user]==101) || (session[:loggedin_user]==102)) %>
    <td><%= link_to 'Edit', edit_proj_path(proj) %></td>
    <td><%= link_to 'Destroy', proj, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Change Status', status_proj_path(proj)%></td>
    <% end%>
  </tr>
  

<% end %>
<% end %>
</tbody>
</table>
  
<br />
<%= form_tag("/logout", :method => "get") do %>
<%= submit_tag("logout") %>
<% end  %>
</html>


<script type="text/javascript">
  $(document).ready(function() 
    { 
     
        $("#myTable").tablesorter(); 
    }
);
</script>