<p id="notice"><%= notice %></p>

<p>
  <b>Project Name:</b>
  <%= @proj.projectname %>
</p>

<p>
  <b>status:</b>
  <%= @proj.status %>
</p>

<p>
  <b>user:</b>
  <% id=@proj.user_id
  puts id
  @userName = User.find(id)%>
  <%= @userName.name%>
</p>
<% if ((session[:loggedin_user]==101)) %>
<%= link_to 'Edit', edit_proj_path %> 
<% end %>
<%= link_to 'Back', projs_path %>
<%= form_tag("/logout", :method => "get") do %>
<%= submit_tag("logout") %>
<% end  %>
