<%= form_for(@proj) do |f| %>
  <% if @proj.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proj.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @proj.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :projectname %><br />
    <%= f.text_field :projectname %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
 <%= f.select :status, options_for_select([['initiated', 1], ['in_progress', 2],['completed',3]])%>
  </div>

  <div class="field">
    <%= f.label :user_id %><br />
    <%@users=User.all%>

 <%=  f.select :user_id, options_for_select(@users.collect {|user| [user.name , user.id]})%>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
