<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Rollno:</b>
  <%= @user.rollno %>
</p>



<p>
  <b>Dob:</b>
  <%= @user.dob %>
</p>

<p>
  <b>Gender:</b>
  <%= @user.gender %>
</p>

<p>
  <b>Address:</b>
  <%= @user.address %>
</p>

<p>
  <b>Singing:</b>
  <%= @user.singing %>
</p>

<p>
  <b>Dancing:</b>
  <%= @user.dancing %>
</p>

<p>
  <b>Reading:</b>
  <%= @user.reading %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<%= form_tag("/logout", :method => "get") do %>
<%= submit_tag("logout") %>
<% end  %>